<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-lab07.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" name="allfile" fileName="logs/lab07-all-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" name="sagafile" fileName="logs/lab07-saga-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Lab07.Application.Sagas.*" minlevel="Debug" writeTo="sagafile" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    
    <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" final="true" />
  </rules>
</nlog>
