<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="${basedir}/logs"/>

  <targets>
    <!-- Console -->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:|${exception:format=tostring}}" />

    <!-- File (All logs) -->
    <target xsi:type="File" name="allfile"
            fileName="${logDirectory}/all-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:|${exception:format=tostring}}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />

    <!-- File (Errors only) -->
    <target xsi:type="File" name="errorfile"
            fileName="${logDirectory}/error-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:|${exception:format=tostring}}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="90" />

    <!-- JSON Format -->
    <target xsi:type="File" name="jsonfile"
            fileName="${logDirectory}/structured-${shortdate}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
        <attribute name="correlationId" layout="${mdlc:item=CorrelationId}" />
        <attribute name="requestPath" layout="${aspnet-request-url}" />
        <attribute name="requestMethod" layout="${aspnet-request-method}" />
      </layout>
    </target>
  </targets>

  <rules>
    <!-- Skip Microsoft logs -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <!-- All logs -->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    <logger name="*" minlevel="Info" writeTo="jsonfile" />
  </rules>
</nlog>
